
.DS_Store
/AWS
secrets.json
/Dataset/GQA/images/*
/Dataset/GQA/questions/*
/Dataset/GQA/split/*
/Dataset/GQA/HFDatadir/*
/Dataset/GQA/sceneGraphs/*
/Dataset/GQA/test
/production/data/train_images_small
/Models
/production/data/test_images
/production/data/train_images
/Experiments/*/raw_outputs.json
/Experiments/*/prompts_batched.json
/Experiments/*/answers.json
/Experiments/*/err_analysis.csv
/explore_sg.py
*.pyc

# These are prompts with scene graph in them - size blows up
/Experiments/Exp22/prompts_batched.json
/Experiments/Exp22/raw_outputs.json
/Experiments/Exp15/prompts_batched.json
/Experiments/Exp15/raw_outputs.json
/Experiments/Exp23/prompts_batched.json
/Experiments/Exp23/raw_outputs.json
/Experiments/Exp1/prompts_batched.json
/Experiments/Exp6/prompts_batched.json
/Experiments/Exp26/prompts_batched.json
/Experiments/Exp26/raw_outputs.json
/Experiments/Exp21/prompts_batched.json
/Experiments/Exp21/raw_outputs.json
/Experiments/Exp10/prompts_batched.json
/Experiments/Exp20/prompts_batched.json
/Experiments/Exp20/raw_outputs.json
/Experiments/Exp18/prompts_batched.json
/Experiments/Exp18/raw_outputs.json
/Experiments/Exp27/prompts_batched.json
/Experiments/Exp27/raw_outputs.json
/Experiments/Exp4/prompts_batched.json
/Experiments/Exp5/prompts_batched.json
/Experiments/Exp2/prompts_batched.json
/Experiments/Exp2/raw_outputs.json

